<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #container{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body style="height: 100vh; background-color: rgb(255, 255, 255);">
    <div id="container">
        <div id="profile" style="display: flex;flex-direction: column;background-color: rgb(48, 48, 48);color: white;justify-content: center; align-items: center; width: 400px; height: 300px;">
        <h1>Welcome</h1>
        <h1><%=user.name%></h1>
        <p style="color: white;"><a href="/" style="text-decoration: none; color: rgb(0, 0, 0); background-color: white; padding: 20px;">Explore</a></p>
        </div>
    </div>
    
</body>
</html>