<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        #container{
            display: flex;
            flex-direction: column;
            font-family: "Poppins", sans-serif;
        }
        #heading{
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            width: 100%;
            background-color: rgb(58, 58, 58);
            height: 10vh;
        }
        #heading p{
            margin-left: 10px;
        }
        #attendenceBox{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            background-color: rgb(43, 43, 43);
            height: 90vh;
        }
        #attendence{
            display: flex;
            flex-direction: row;
            width: 350px;
            border-radius: 5px;
            margin-top: 10px;
            height: 70px;
            background-color: rgb(250, 250, 250);
            flex-direction: row;
        }
        #username{
            display: flex;
            align-items: center;
            color: rgb(66, 66, 66);
            font-size: 15px;
            width: 50%;
            height: 100%;
        }
        #image{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            height: 100%;
            color: white;
            width: calc(50%/3);
        }
        #cross{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            height: 100%;
            color: white;
            width: calc(50%/3);
        }
        #approve{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            height: 100%;
            color: white;
            width: calc(50%/3);
        }
        #approve a{
            color: rgb(103, 218, 103);
        }
        #cross a{
            color: rgb(218, 103, 103);
        }
        #image a{
            color: rgb(98, 153, 255);
        }
        #time{
            display: flex;
            color: rgb(255, 174, 0);
            padding: 10px;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="heading">
            <p>Attendence-Approval</p>
        </div>
        <div>
            <div id="attendenceBox">
                <%datas.forEach(data=>{%>
                    <div id="attendence">
                    <%if(data.session.toString()=="morning"){ %>
                        <div id="time"><i class="fa-solid fa-sun"></i></div>
                    <%}else{%>
                        <div id="time"><i class="fa-solid fa-cloud-moon" style="color: rgb(3, 50, 112)"></i></div>
                    <%}%>
                    <div id="username"><p><%=data.username%></p></div>
                    <div id="image"><a href="<%=data.image%>"><i class="fa-solid fa-image"></i></a></div>
                    <div id="approve"><a class="approveBtn" id="<%=data._id%>"><i class="fa-solid fa-circle-check"></i></a></div>
                    <div id="cross"><a class="crossBtn" id="<%=data._id%>"><i class="fa-solid fa-xmark"></i></a></div>
                    </div>
                <%})%>
            </div>
        </div>
    </div>
</body>
<script>
    const approveBtn = document.querySelectorAll('.approveBtn');
    const crossBtn = document.querySelectorAll('.crossBtn');
    approveBtn.forEach(btn=>{
        btn.addEventListener('click',function(){
            console.log(this.id);
            sendApprove(this.id);
        })
    })

    crossBtn.forEach(btn=>{
        btn.addEventListener('click',function(){
            console.log(this.id);
            sendDisapprove(this.id);
        })
    })

   function sendDisapprove(id){
        fetch('/denyattendence',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify({attendenceId:id})}).then(response=>response.json()).then(data=>{console.log('Fetch success');alert(data.message);location.reload(true)}).catch(error=>{console.error('Error',error)});
    }

    function sendApprove(id){
        fetch('/approveattendence',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify({attendenceId:id})}).then(response=>response.json()).then(data=>{console.log('Fetch success');alert(data.message);location.reload(true)}).catch(error=>{console.error('Error',error)});
    }
</script>
</html>